header {
    border-radius: 1200px;
    background-color: darkcyan;
    padding: 100px;
    margin: 10px;

}
header h1{
    font-size: 300%;
    color: maroon;
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;
    height: 100px;
    width: 50px;
}
header img#szeles {
    float: right ;
    margin: 0px 10px 0px 10px;
    height: 40%;
    width: 40%;
    border: 10px solid;
    border-radius: 30px;
    border: #1E459E;
    padding: 0px;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 50px;
    border-radius: 10px;
    background-color: #FF6600;
}
nav#felso  ul {
    position: fixed;
    top: 15px;
    width: 80%;
    background-color: #d0dafd;
    border-radius: 10px;
    color: yellow;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 40px;
    float: left;
    display: inline-block;
}

nav ul li.active {
    border-bottom: 5px solid blue;
}

nav ul a {
    text-decoration: none;
    color: purple;
}

div#content {
    display: table-cell;
    /*width: 100%;*/
    border-radius: 30px;
    background-color: darkturquoise;
    padding: 15px;
}

div#content img{
    float: right;
   /* width: 20em; */
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: firebrick;
}

body{
    background-color: #bbbbbb;
}
img.nagy{
    width: 40%;
}
img.nagy2{
    width: 70%;
    float: top;
}
iframe.video1{
    width: 80%;
}