header {
    border-radius: 10px;
    background-color: green;
    padding: 100px;
    margin: 10px;
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;
    height: 100px;
    width: 50px;
}
header img#szeles {
    float: right  ;
    margin: 20px 10px 0px 10px;
    height: 50px;
    width: 150px;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 10px;
    background-color: #FF6600;
}
nav#felso  ul {
    position: fixed;
    top: 100;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 40px;
    float: left;
    display: inline-block;
}

nav ul li.active {
    border-bottom: 5px solid blue;
}

nav ul a {
    text-decoration: none;
    color: blue;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #CC99FF;
}